
<div class="d-flex justify-content-center align-items-center pb-5">
  <div class="px-3 px-md-0">
    <%= simple_form_for '#' do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.input :nombre , input_html: { class: "btn-lg"} %>
      </div>
      <div class="col-6">
        <%= f.input :apellido, input_html: { class: "btn-lg"} %>
      </div>
    </div>
    <%= f.input :email, input_html: { class: "btn-lg"} %>
    <%= f.input :telefono, input_html: { class: "btn-lg"} %>
    <%= f.input :mensaje,  :as => :text, input_html: { class: "form-control form-control form-control-lg", rows:"6" } %>
    <div class="text-center">
      <%= f.submit "Enviar", class: 'btn btn-success btn-lg' %>
    </div>
    <% end %>
  </div>
</div>


