<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1703170258/motoguadanas-1024x683.jpg);">
  <div class="container text-center">
    <img src="https://res.cloudinary.com/san-patricio/image/upload/c_scale,w_920/v1603753433/Logo_Garbo_Negativo_f3nack.png" alt="">
    <div class="d-flex justify-content-center banner-btn">
      <a class="btn btn-success mr-3 px-3 px-lg-4" id="btn-banner-1" href="#company">La Empresa</a>
      <a class="btn btn-outline-success px-3 px-lg-4" id="btn-banner" href="#contact">Contacto</a>
    </div>
  </div>
</div>
<section id="services">
  <%= render 'services' %>
</section>
<section id="sponsors">
  <%= render 'sponsors' %>
</section>
<section id="posts">
  <%= render 'posts' %>
</section>
<section id="company">
  <%= render 'company' %>
</section>
<section id="contact">
  <%= render 'contacts/new' %>
</section>
