<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1591701284171-b6b4af1ce95a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2800&q=80);">
  <div class="container text-center">
    <h1><strong>GARBO</strong></h1>
    <p>servicios integrales</p>
    <div class="d-flex justify-content-center">
      <a class="btn btn-success mr-3" href="#">Quienes Somos</a>
      <a class="btn btn-outline-success" href="#">Contacto</a>
    </div>
  </div>
</div>
<section id="services">
  <%= render 'services' %>
</section>
<section id="sponsors">
  <%= render 'sponsors' %>
</section>
<section id="posts">
  <%= render 'posts' %>
</section>
<section id="company">
  <%= render 'company' %>
</section>
<section id="carousel">
  <%= render 'carousel' %>
</section>
<section id="contact">
  <%= render 'contacts/new' %>
</section>
