<div class="bg-white border-rounded p-5 container">
  <%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :content %>
  <%= f.input :photo %>
  <%= f.submit %>
  <% end %>
</div>
