<% if user_signed_in? %>
<div class="p-5 mt-6">
  <%= link_to 'Editar Novedad', edit_post_path(@post), class: "btn btn-dark btn-block mb-3"  %>
  <%= link_to 'Destruir Novedad', @post, method: :delete, data: { confirm: 'Estas seguro de eliminar la noticia' } , class: 'btn btn-danger btn-block' %>
</div>
<% end %>
<div class="container py-5 text-center mt-6">
  <h2 class="font-weight-bold"><%= @post.title %></h2>
  <h5><%= @post.subtitle %></h5>
  <hr>
  <%= cl_image_tag @post.photo.key , style: "width: 100%; height: 60vh; object-fit: cover;" %>
  <hr>
  <p><%= @post.content %></p>
  <div class="text-center">
    <%= link_to 'Volver', posts_path, class: "btn btn-primary" %>
  </div>
</div>
