<div class="container py-5 text-center">
  <h2 class="font-weight-bold"><%= @post.title %></h2>
  <h5><%= @post.subtitle %></h5>
  <hr>
  <img src="<%= @post.photo %>" alt="" style="width: 100%; height: 60vh; object-fit: cover;">
  <hr>
  <p><%= @post.content %></p>
  <div class="text-center">
    <%= link_to 'Volver', posts_path, class: "btn btn-primary" %>
  </div>
</div>
